
{%- load_yaml as base_defaults %}

Debian:
  pkgs:
  - ltsp-server
  - nbd-server
  - openbsd-inetd
  - openssh-server
  - squashfs-tools
  - dnsmasq
  - gnupg
  - python-gnupg
  - ldm-server
  - libasound2-plugins
  - lsof
  - ltspfs
  - x11-utils
  - xauth

  - python3-dbus

  pkgs_multiarch:
  - qemu-user-static
  - binfmt-support

{%- endload %}

{%- set service = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('ltsp:service')) %}
